@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

sub {
    display: inline-block;
    font-weight: bolder;

    transform: translateY(-3px);
}

header > div#cabecalho {
    background-color: white;
    padding-bottom: 30px;
}

header > div#cabecalho > span {
    color: orangered;
    font-size: 1.5em;
    padding: 8px;
    margin-bottom: 5px;
}

header > div#cabecalho > p {
    display: inline-block;
    font-size: 1.5em;
    color: orangered;
    margin-bottom: 5px;

    transform: translateY(-2px);
}

header > div#cabecalho > span#search {
    float: right;
    color: gray;
    font-size: 1.8em;
}

header > div#cabecalho > nav {
    background-color: black;
}

header > div#cabecalho > nav > div {
    display: inline-block;
    background-color: orangered;
}

header > div#cabecalho > nav span {
    color: white;
    font-size: 1.3em;
    padding-left: 10px;
}

header > div#cabecalho > nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px 8px 3px 0px;

    transform: translateY(-3px);
}

header > div#cabecalho > nav a:hover {
    text-decoration: underline;
}

header > div#cabecalho > h1 {
    margin: 10px 10px 0px 10px;
    font-size: 1.5em;
    font-weight: lighter;
}

header > div#cabecalho > form {
    padding: 10px;
}

header > div#cabecalho > form input {
    width: 90%;
    padding: 10px;
}

header > div#cabecalho > form > div {
    margin-top: 10px;
}

header > div#cabecalho > form > div#link {
    margin-top: 20px;
}

header > div#cabecalho > form a {
    background-color: gray;
    color: white;
    text-decoration: none;
    padding: 10px;
}

header > div#cabecalho > form a:hover {
    background-color: lightgray;
}

/* --------------------------------------------- */

main {
    display: block;
    margin: auto;
    padding: 50px 10px 20px 10px;
    background-color: rgb(231, 231, 231);
}

main > section > article > h1 {
    margin: 0px 0px 10px 0px;
    font-size: 1.5em;
    font-weight: lighter;
}

main > section > article > p {
    margin: 10px 0px;
}

main > section > article > img {
    width: 300px;
    height: 300px;
    margin: 10px 0px;
}

main > section > article > div {
    display: block;
    margin: 30px 0px;
    background-color: white;
}

main > section > article > div > .roundtrip-gray {
    color: gray;
}

main > section > article > div > .buy-tickets {
    text-indent: 10px;
}

main > section > article > div > img {
    width: 300px;
    height: 150px;
}

main > section > article > div > h1 {
    padding: 10px;
    font-size: 1.5em;
    font-weight: lighter;
}

main > section > article > div > p {
    padding: 10px;
}

main > section#subscribe > article {
    background-color: dimgray;
    padding: 15px 15px 20px 15px;
}

main > section#subscribe > article > h1 {
    margin: 15px 0px;
    color: white;
    font-size: 1.5em;
    font-weight: lighter;
}

main > section#subscribe > article > p {
    margin: 10px 0px;
    color: white;
}

main > section#subscribe > article > form > div > label {
    display: inline-block;
    color: white;
}

main > section#subscribe > article > form > div > input {
    width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    color: lightgray;
    font-size: 1.1em;
}

main > section#subscribe > article > form > div > a {
    background-color: rgb(250, 139, 98);
    padding: 10px;
    color: white;
    text-decoration: none;
}

main > section#subscribe > article > form > div > a:hover {
    background-color: rgb(255, 180, 152);
}
